@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark:
background(modal,dropdown)
      #1A1A1A   -current
      #3C3C3C   -hoover
text: #808080
button:#1877F2
border:#262626 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


@media (max-height: 700px) {
  .hide-on-small-height {
    display: none !important;
  }
}